/* You can add custom styles here. */

// @import "plugins/numbered";
@mixin theme-oreko {
    --body-background: #1F516A;
    --body-font-color: #98A6AD;
    
    --menu-background: #27465A;

    --toc-background: #295A72;

    --color-link: #A6C9CF;
    --color-visited-link: #78C0D8; 

    --color-todo: #F0F0F0;
    
    --icon-filter: none;
}
